
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Red Panda</h1>
		<p>Welcome to my world.I'm from Nepal</p>
		<p>I'm cute and adorable, right!.</p>
		<p>Don't call me cute bro, I swear I'll shoot you!!!Yeah, it's three exclamation points,I am really pissed off. </p>
	</div>
</div>